.__navbar,
.nav {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    padding: 0.6rem 2rem;
}

.__navbar-links {
    flex           : 1;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.__navbar_logo {
    margin-right: 2rem;
}

.__navbar_logo img {
    width : 180px;
    height: 35px;
}

.__navbar-links_container ul {
    list-style    : none;
    display       : flex;
    flex-direction: row;
}

.__navbar-links_container a,
.__navbar-menu_container a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size  : 18px;
    line-height: 25px;

    margin: 0 1rem;
    cursor: pointer;
}

.react-icons {
    vertical-align: middle;

}

.__navbar-menu_container li {
    list-style: none;
    margin    : 0.5rem 0;
}

.__navbar-menu {
    margin-left: 1rem;

    display : none;
    position: relative;
    z-index : 1;
}

.__navbar-menu svg {
    cursor: pointer;
}

.__navbar-menu_container {
    list-style     : none;
    display        : flex;
    justify-content: flex-end;
    align-items    : flex-end;
    flex-direction : column;

    text-align   : end;
    background   : var(--color-nav-menu);
    padding      : 1.5rem;
    position     : absolute;
    top          : 40px;
    right        : 0;
    margin-top   : 1rem;
    min-width    : 210px;
    border-radius: 5px;
    box-shadow   : 0 0 5 rgba(0, 0, 0, 0.2);
}


.dropdown>ul li {
    padding: 0.3rem 0;
}

.dropdown>ul {
    position      : absolute;
    z-index       : 1;
    background    : var(--color-nav-menu);
    display       : flex;
    flex-direction: column;
    margin-top    : 1rem;
    padding       : 1.2rem;
    border-radius : 5px;
}

@media screen and (max-width: 900px) {
    .__navbar-links_container {
        display: none;
    }

    .__navbar-menu {
        display: flex;
    }

    .dropdown>ul {
        position  : relative;
        margin-top: 0.2rem;
        padding   : 0 0 0 1.2rem;
    }

}

@media screen and (max-width: 700px) {
    .__navbar {
        padding: 1rem 3rem;
    }
}

@media screen and (max-width: 550px) {
    .__navbar {
        padding: 1rem 2rem;
    }

    .__navbar-menu_container {
        top: 20px;
    }

    .dropdown>ul li {
        padding: 0;
    }
}

.dropdown>a {
    margin-right: 0;
}

.hide {
    display: none;
}