@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


html,
body,
#root {
    height  : 100vh;
    /*width : 100vw;*/
}

:root {

    --font-family: 'Manrope',
        sans-serif;

    --gradient-bg: linear-gradient(90deg, rgba(243, 244, 246, 1) 0%, rgba(184, 246, 255, 1) 62%, rgba(0, 212, 245, 0.8631827731092436) 100%);

    --color-bg      : #F3F4F6;
    --color-footer  : #4A546D;
    --color-nav     : #BDCBDB;
    --color-nav-menu: #aab6c4;
    --color-button  : rgb(0, 89, 255);
}

.flex_row {
    display       : flex;
    flex-direction: row;
}

.flex_column {
    display       : flex;
    flex-direction: column;
}

.flex_center {
    display        : flex;
    justify-content: center;
}

/*
    color gradient: https: //angrytools.com/gradient/
    animatons: animista.net/play/basic

    Poisci elemente, ki povzrocajo horizontal scrollbar
    var all=document.getElementsByTagName("*"),
    i=0,
    rect,
    docWidth=document.documentElement.offsetWidth;

    for (; i < all.length; i++) {
        rect=all[i].getBoundingClientRect();

        if (rect.right > docWidth || rect.left < 0) {
            console.log(all[i]);
            all[i].style.borderTop='1px solid red';
        }
    }

*/